<div>{{ 'fio'|lang }}: <b>Кузнецов Вадим</b></div>
<div>{{ 'phone'|lang }}: <span>0555 55 55 55</span></div>
<div>{{ 'phone'|lang }}: <span>0777 77 77 77</span></div>
<div>{{ 'adress'|lang }}: <span>Бишкек Коомунарова 112</span></div>
<div>{{ 'adress'|lang }}: <span>Суворова 93 а</span></div>
<div class="clearfix mb-1"></div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <button class="btn btn-success d-block w-100"><i class="mdi mdi-plus-circle"></i> {{ 'add phone'|lang }}</button>
  </div>
  <div class="col-xs-12 col-md-6">
    <button class="btn btn-success d-block w-100"><i class="mdi mdi-plus-circle"></i> {{ 'add adress'|lang }}</button>
  </div>
</div>