/* line 1, ng-select2.component.sass */
section {
  position: relative;
  margin-bottom: 1rem;
}
/* line 5, ng-select2.component.sass */
section ul {
  border: 1px solid #c2c2c2;
  padding: 1rem;
  position: absolute;
  z-index: 1000;
  top: 40px;
  width: 100%;
  background-color: #fff;
  max-height: 200px;
  overflow: auto;
}
/* line 15, ng-select2.component.sass */
section ul li {
  padding: 3px;
  cursor: pointer;
}
/* line 18, ng-select2.component.sass */
section ul li:hover {
  background-color: #eeeeee;
}
/* line 22, ng-select2.component.sass */
section .mdi-close, section .mdi-arrow-down-drop-circle-outline {
  position: absolute;
  top: 0.5rem;
  right: 5px;
}
