<div class="container-fluid pt-1">
	<h4 class="firstUp d-inline-block">{{ 'order create'| lang }}</h4>
	<a routerLink="/main" class="btn btn-success float-xs-right">{{ 'return'|lang }}</a>
	<div class="clearfix mb-1"></div>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<client-info [client]="client"></client-info>
			<add-client></add-client>
		</div>

		<div class="col-xs-12 col-md-6 px-0">
			<div class="row">
				<div class="col-xs-12 col-md-3 pr-0 pt-05">
					{{ 'search client'| lang }}:
				</div>
				<div class="col-xs-12 col-md-9 pl-0" *ngIf="options && options.length > 0">
					<ng-select2 (selected)="selectData($event)"
					            [data]="{'options': options, 'placeholder': placeholder,'select':{'text':'','value':''}}">
					</ng-select2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-3 pr-0 pt-05">
					{{ 'search organization'| lang }}:
				</div>


				<div class="col-xs-12 col-md-9 pl-0" *ngIf="zavedeniya && zavedeniya.length > 0">
					<ng-select2 (selected)="selectZavedenie($event)"
					 [data] = "{'options': zavedeniya, 'placeholder': 'placeholder', 'select':{'text':'','value':''}}">
					</ng-select2>
				</div>
			</div>
			<div class="bg-light-green pa-2">
				<h2>{{ 'order'|lang }}</h2>
				<textarea [(ngModel)]="description" class="form-control" name="description" placeholder="{{ 'description'|lang }}"></textarea>
				<div class="clearfix mb-1"></div>
				<div>{{ 'fio'|lang }}: <b>{{ client.fio }}</b></div>
				<div class="clearfix mb-1"></div>
				<div>
					<b>
						{{ 'call phone'|lang }}: <span>{{ ringPhone }}</span>
					</b>
				</div>
				<div class="clearfix mb-1"></div>

				<div>{{ 'client phones'|lang }}:
					<span *ngFor="let phone of client.phones">
						<span *ngIf="phone">
							{{ phone }},
						</span>
					</span>
				</div>

				<div class="clearfix mb-1"></div>
				<div>{{ 'destination adress'|lang }}:
					{{ adressDostavki }}
				</div>
				<div class="clearfix mb-1"></div>
				<div>{{ 'organization'|lang }}:
					<span *ngIf="organization.text && organization.text.length">
						{{ organization.text }},
						{{ organization.value }}

					</span>
				</div>
				<div class="clearfix mb-1"></div>
				<div>{{ 'driver' | lang }}: {{ (voditel && voditel.name) ? voditel.name : '' }} </div>

				<div class="clearfix mb-1"></div>
				<button [disabled]="buttonCreateReady()" (click)="addNewOrder()" class="btn btn-success float-xs-right">{{ 'create'|lang }}</button>
				<div class="clearfix mb-1"></div>

				<span>Оплата Водителю</span>
				<input class="form-control mb-1" type="text" [(ngModel)]="oplata_voditel">
				<span>Оплата оператору</span>
				<input class="form-control mb-1" type="text" [(ngModel)]="oplata_operator">
				<span>сумма Заказа</span>
				<input class="form-control mb-1" type="text" [(ngModel)]="summa_zakaza">
				<span>сумма доставки</span>
				<input class="form-control mb-1" type="text" [(ngModel)]="summa_dostavki">
				<span>сумма вознаграждения</span>
				<input class="form-control mb-1" type="text" [(ngModel)]="summa_voznagrajdenia">










			</div>
		</div>

		<div class="col-xs-12 col-md-3">
			<div class="bg-faded pa-1">
				<driver-now></driver-now>
			</div>
		</div>
	</div>
</div>

