<div class="container-fluid">
	<h5>{{ 'data from period'|lang }}</h5>

	<div class="col-xs-12 col-md-5">
		<div class="form-group row">
			<label for="example-datetime-local-input" class="col-xs-2 text-xs-center col-form-label">{{ 'from'|lang
				}}</label>
			<div class="col-xs-10">
				<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
				       id="example-datetime-local-input">
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-5">
		<div class="form-group row">
			<label for="example-datetime-local-input1" class="col-xs-2 text-xs-center col-form-label">{{ 'to'|lang
				}}</label>
			<div class="col-xs-10">
				<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
				       id="example-datetime-local-input1">
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-2">
		<button class="btn btn-success">{{ 'show'|lang }}</button>
	</div>
</div>

<table class="table">
	<thead class="bg-light-green">
	<tr>
		<th>№</th>
		<th>{{ 'date'|lang }}</th>
		<th>{{ 'order adress'| lang }}</th>
		<th>{{ 'description'|lang }}</th>
		<th>{{ 'from'|lang }}</th>
		<th>{{ 'operator'|lang }}</th>
		<th>{{ 'driver'|lang }}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>Mark</td>
		<td>Otto</td>
		<td>@mdo</td>
		<td>@mdo</td>
		<td>@mdo</td>
		<td>@mdo</td>
	</tr>
	<tr>

	</tbody>
</table>


