<div class="container-fluid mt-1">

	<h4 class="firstUp">{{ 'statistics'|lang }}</h4>


	<button type="button" class="btn btn-danger">{{ 'all statistic'|lang }}</button>
	<button type="button" class="btn btn-warning">{{ 'statistic driver'|lang }}</button>
	<button type="button" class="btn btn-info">{{ 'statistic operator'|lang }}</button>
	<button type="button" class="btn btn-primary">{{ 'rating organisation'|lang }}</button>
	<button type="button" class="btn btn-success">{{ 'rating client'|lang }}</button>
	<button type="button" class="btn btn-secondary">{{ 'statistic client'|lang }}</button>


	<div class="clearfix mb-1"></div>

</div>