<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">{{ 'Kover'|lang }}</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link firstUp" routerLink="/">{{ 'orders'|lang }} <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link firstUp" routerLink="organisations">{{ 'organisations'|lang }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link firstUp" routerLink="clients">{{ 'clients'|lang }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link firstUp" routerLink="operators">{{ 'operators'|lang }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link firstUp" routerLink="drivers">{{ 'drivers'|lang }}</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle firstUp pointer"  id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'statistics'|lang }}</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" routerLink="statistics">{{ 'our statistics'|lang }}</a>
        <a class="dropdown-item" routerLink="statistics/organisation">{{ 'all statistic'|lang }}</a>
        <a class="dropdown-item" routerLink="statistics/driver">{{ 'statistic driver'|lang }}</a>
        <a class="dropdown-item" routerLink="statistics/operator">{{ 'statistic operator'|lang }}</a>
        <a class="dropdown-item" routerLink="statistics/rating/organization">{{ 'rating organisation'|lang }}</a>
        <a class="dropdown-item"routerLink="statistics/rating/client">{{ 'rating client'|lang }}</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link firstUp" routerLink="settings">{{ 'settings'|lang }}</a>
    </li>
  </ul>
  <form class="form-inline float-xs-right">
    <button (click)="logaut()" class="btn btn-inline">Выход</button>
  </form>
</nav>